@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --bg-color: #f4f4f4;
  --heading-color: #444;
  --highlight-color: #d13267;
  --primary-color: #8d69f1;
  --text-color: #555;
}

* {
  box-sizing: border-box;
}

/* base styles */
body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin: 0;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  color: var(--heading-color);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 8px 12px;
}

.btn:hover {
  background-color: hsl(256, 83%, 64%);
  transition: 0.35s;
}
/* forms */
label {
  display: block;
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  border-radius: 4px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  color: #777;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.25px;
  padding: 0.5rem 0.75rem;
  width: 100%;
}
input::placeholder {
  color: #bbb;
}
input:focus {
  outline: none !important;
  border: 2px solid var(--primary-color);
}

input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: 1px;
  position: relative;
  background-color: #ddd;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: 1px;
  position: relative;
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

textarea {
  min-height: 160px;
}
.success {
  background: lightgreen;
  border-radius: 4px;
  border: 1px solid green;
  color: green;
  margin: 10px 0;
  padding: 8px;
  transition: 2s ease-in;
}

.error {
  background: pink;
  border-radius: 4px;
  border: 1px solid red;
  color: red;
  margin: 10px 0;
  padding: 8px;
}
